@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bell-shake {
  0% {
    transform: rotate(0);
  }
  10% {
    transform: rotate(18deg);
  }
  20% {
    transform: rotate(-18deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-14deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  70% {
    transform: rotate(6deg);
  }
  80% {
    transform: rotate(-6deg);
  }
  90% {
    transform: rotate(3deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
    color: #999;
  }
  25% {
    transform: scale(1.2);
    color: #ff3b3b;
  }
  40% {
    transform: scale(1);
    color: #ff0000;
  }
  60% {
    transform: scale(1.2);
    color: #ff3b3b;
  }
  100% {
    transform: scale(1);
    color: #999;
  }
}
