$primary-color: #1a202c;
$primary-color-500: #3563e9;
$secondary-color: #ffffff;
$secondary-color-300: #90a3bf;
$secondary-color-400: #596780;

$secondary-color-500: #1a202c;

$main-bg-color: #f6f7f9;
$rental-car-left-bg-color: #54a6ff;
$rental-car-right-bg-color: #3563e9;

$primary-font: "Plus Jakarta Sans", sans-serif;

$primary-font-size: 16px;
$secondary-font-size: 14px;
$primary-headling-size: 24px;
$secondary-heading-size: 32px;
